@import "../quizapp/css.golbal/global.css";

body {
    border: 5px solid black;
    border-radius: 2rem;
    width: 300px;
}

.header {
margin-left: 80px;
}

.uil {
    font-size: 25px;
    display: flex;
    justify-content: end;
    margin-top: -50px;
}

.hide {
    display: none;
}


.eins,
.zwei,
.drei {
    border: 2px solid black;
    border-radius: 2rem;
    width: 240px;
    margin-left: 25px;
    background: aqua;
}

.zwei {
    margin-top: 10px;
    background: greenyellow;
}

.drei {
    margin-top: 10px;
    background: yellow;
}

.hinweise1,
.hinweise2,
.hinweise3 {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.hinweise1,
.hinweise3 {
    margin-left: -8px;
}

.hinweise2 {
    margin-left: -31px;
}

.orientierung {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: -40px;
    list-style-type: none;
}